* {
    box-sizing: border-box;
}

body {
    background: url(images/beer_taps2.jpg) no-repeat fixed;
    background-size: cover;
    background-color: transparent;
    font-family: 'Domine';

}

h1 {
    font-family: 'Libre Baskerville';
    text-align: center;
    margin-left: 15px;
}

h2 {
    color: rgb(255, 115, 0);
    font-size: 25px;
}

nav {
    background: #111;
    position: fixed;
    color: white;
    padding: 1% 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

header {
    margin-top: 100px;
    width: 100%;
    text-align: center;
    display: block;
    position: relative;
    z-index: 10;
}

#search-button, #js-search-term, #search-by {
    height: 28px;
    border-radius: 5px;
}

#search-button {
    background-color: rgb(128, 128, 128);
}

#search-button:hover {
    cursor: pointer;
    color: white;
}

#js-search-term {
    background-color: white;
    opacity: .8;
    font-weight: bold;
}

#js-search-term {
    letter-spacing: 1px;
    text-align: center;
}

#search-by {
    background-color: rgb(218, 213, 213);
    opacity: .8;
}

.hidden {
    display: none;
}

.container {
   
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(238, 238, 238);
    opacity: 0.8;
    display: block;
    border-radius: 5px;
    max-height: 280px;
    overflow: auto;
    width: fit-content; 
}

li {
    list-style: none;
    text-align: left;
}

.js-link:hover {
    text-decoration: none;
}

@media screen and (min-width:480px) {
    h1 {
        font-family: 'Libre Baskerville';
        font-size: 35px;
        margin-left: 15px;
        text-align: left;
    }

    h2 {
        color: rgb(255, 115, 0);
    }

    section {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgb(238, 238, 238);
        opacity: 0.8;
        display: block;
        border-radius: 5px;
        max-height: 300px;
        overflow: auto;
        width: fit-content; 
    }

    header {
        margin-top: 150px;
    }

  }

  @media screen and (min-width:800px) {
    h2 {
        font-size: 35px;
    }

   }